/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/framework/views/*
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
app.zip
error_log
test-query.php
test-user-cats.php
/vendor
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/public/*.zip


