<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirect empty requests to the public/ directory
    RewriteRule ^$ public/ [L]

    # If the file/folder doesn't exist, rewrite the request to the public/ directory
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
